*.gem
.bundle
.sass-cache
_site
Gemfile.lock
node_modules

Matrix Calculus/

pdfs/
assets/Notebooks/.ipynb_checkpoints
.jekyll-metadata
.jekyll-cache
*.DS_Store
*.bkp
*.dtmp

/.quarto/

/.luarc.json
/assets/Notebooks/*.html
/assets/Notebooks/*.svg
/assets/Notebooks/*.png
/assets/Notebooks/*.pdf
/assets/Notebooks/*.mp4
/assets/media_files
assets/Notebooks/benchmarx*
