{% comment %} 
Usage: {% include tabs.html bibtex = '...' file='...' tabname = '...' tabcontent = '...' inline = False%}
{% endcomment %}
{% if include.bibtex %}
{%  assign bibtexcounter   = bibtexcounter    | plus:1 %}
{% endif %}
{% if include.file %}
{% assign filescounter     = filescounter     | plus:1 %}
{% endif %}
{% if include.tabname %}
{% assign othertabscounter = othertabscounter | plus:1 %}
{% endif %}
<!-- {% if include.inline %}{% else %}<button type="button" name="button" class="btn"><a href="https://github.com/MerkulovDaniil/optim/edit/master/{{page.path}}">Edit this page</a></button>{% endif %} -->
{% if include.bibtex %}<button type="button" name="@bibtex{{ bibtexcounter }}" class="btn" onclick="myFunction1({{ bibtexcounter }})">@bibtex</button>{% endif %}
{% if include.file %}<button type="button" name="Files{{ filescounter }}" class="btn" onclick="myFunction2({{ filescounter }})">Files</button>{% endif %}
{% if include.tabname %}<button type="button" name="{{include.tabname}}{{ othertabscounter }}" class="btn" onclick="myFunction3({{ othertabscounter }})">{{include.tabname}}</button>{% endif %}

<script>
function myFunction1(id) {
  var x = document.getElementById("@bibtex"+String(id));
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function myFunction2(id) {
  var x = document.getElementById("Files"+String(id));
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function myFunction3(id) {
  var x = document.getElementById("{{include.tabname}}"+String(id));
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<div id="@bibtex{{ bibtexcounter }}" style="display: none">
  <div class="code-example" style="background-color: #f5f6fa">
    <code style="border: none">
{{include.bibtex | newline_to_br}}
    </code>
  </div>
</div>

<div id="Files{{ filescounter }}" style="display: none">
<a href="{{include.file | relative_url}}" target="_blank">📝 .pdf file</a>
</div>

<div id="{{include.tabname}}{{ othertabscounter }}" style="display: none">
{{include.tabcontent}}
</div>
{% if include.inline %}{% else %}{% endif %}