<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
    {% for link in site.aux_links %}
      <li class="aux-nav-list-item">
        <a href="{{ link.last }}" class="site-button"
          {% if site.aux_links_new_tab %}
          target="_blank" rel="noopener noreferrer"
          {% endif %}
        >
          {{ link.first }}
        </a>
      </li>
    {% endfor %}
      <li class="aux-nav-list-item">{% if
        site.gh_edit_link and
        site.gh_edit_link_text and
        site.gh_edit_repository and
        site.gh_edit_branch and
        site.gh_edit_view_mode
      %}
        <a class="site-button" href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}{% if site.gh_edit_source %}/{{ site.gh_edit_source }}{% endif %}/{{ page.path }}" id="edit-this-page">{{ site.gh_edit_link_text }}</a>
      {% endif %}
    </li>
  </ul>
</nav>
